* {
  box-sizing: border-box;
}

body{        
  font-family: Arial;
  padding-top: 100px;
  padding-bottom: 40px;
  background: #f1f1f1;
}
.container{
  width: 80%;
  margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;        
  background: #333;
  padding: 10px 0;
  color: #fff;
}
.fixed-header{
  top: 0;
  padding: 10px 0;
}
.fixed-footer{
  bottom: 0;
}    
/* Some more styles to beutify this example */
nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}
.container p{
  line-height: 200px; /* Create scrollbar to test positioning */
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
/* 2 column list */ 
ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}